body {

    margin: 0;

    font-family: Arial, sans-serif;

    background: linear-gradient(
        135deg,
        #0f172a,
        #1e3a8a
    );

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;
}


.atm-container {

    width: 440px;

    padding: 40px;

    background:blue;

    border-radius: 20px;

    box-shadow:
        0 15px 40px
        rgba(0, 0, 0, 0.35);

    text-align: center;
}


h1 {

    color: #1e3a8a;

    margin-bottom: 10px;
}


h2 {

    color: #334155;
}


p {

    color: #475569;

    font-size: 16px;
}


button {

    display: block;

    width: 280px;

    margin: 15px auto;

    padding: 14px;

    border: none;

    border-radius: 20px;

    background: #2563eb;

    color: white;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}


button:hover {

    transform: translateY(-2px);

    box-shadow:
        0 5px 15px
        rgba(0, 0, 0, 0.25);
}


input {

    width: 260px;

    padding: 13px;

    border: 2px solid #cbd5e1;

    border-radius: 8px;

    font-size: 16px;

    outline: none;
}


input:focus {

    border-color: #2563eb;

    box-shadow:
        0 0 8px
        rgba(37, 99, 235, 0.3);
}


#message {

    margin-top: 20px;

    font-weight: bold;

    color: #16a34a;
}


#balance {

    color: #16a34a;

    font-size: 30px;

    font-weight: bold;

    margin: 25px;
}


#accountNumber,
#accountName,
#accountBalance {

    font-weight: bold;

    color: #1e3a8a;
}


.withdraw-btn {

    background-color: #e53935;
}


.withdraw-btn:hover {

    background-color: #c62828;
}


.deposit-btn {

    background-color: #16a34a;
}


.deposit-btn:hover {

    background-color: #15803d;
}


.balance-btn {

    background-color: #2563eb;
}


.balance-btn:hover {

    background-color: #1d4ed8;
}


.account-btn {

    background-color: #9333ea;
}


.account-btn:hover {

    background-color: #7e22ce;
}


.logout-btn {

    background-color: #475569;
}


.logout-btn:hover {

    background-color: #334155;
}